<div class="row .pharmacy-list">
  <input
      type="text"
      class="form-control"
      placeholder="Search..."
      [(ngModel)]="filterTerm"
      (keyup)="onKey($event)"
    />
  <table class="table table-striped">
    <thead>
         <tr>
            <th style="width: 30%">Name</th>
            <th style="width: 30%">Phone</th>
            <th style="width: 30%">Email</th>
            <th style="width: 10%"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of items">
            <td>{{item.name}}</td>
            <td>{{item.phoneNumber}}</td>
            <td>{{item.email}}</td>
            
        </tr>
        <!-- <tr *ngIf="!item.name">
            <td colspan="4" class="text-center">
                <span class="spinner-border spinner-border-lg align-center"></span>
            </td>
        </tr> -->
    </tbody>
  </table>
</div>